/**
 * Responsive and Grid Layouts
 */
@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin phablet {
  @media (min-width: 600px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 599px) {
    @content;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


@mixin flexItems($alignItems,$justifyContent) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin gridRepeat($number){
  display: grid;
  grid-template-columns: repeat($number,1fr);
}

@mixin gap($pixels){
  grid-column-gap: $pixels;
}
